@import "tailwindcss";
@custom-variant dark (&: where(.dark, .dark *));
@theme {
    --animate-shake: shake 0.4s ease-in-out;
    @keyframes shake {
        25% {
            transform: translateX(-3px);
        }
        50% {
            transform: translateX(3px);
        }
        75% {
            transform: translateX(-3px);
        }
        100% {
            transform: translateX(0);
        }
    }
}